# my.cnf
# example additions to my.cnf for MySQL Cluster
# (valid in MySQL 5.7)
# **********nodeid is the machine connect to***************
# enable ndbcluster storage engine, and provide connection string for
# management server host (default port is 1186)
[mysqld]
ndbcluster
ndb-connectstring=nodeid=a,192.168.33.50:14500
datadir=somewhere

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M

# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin

# These are commonly set, remove the # and set as required.
# basedir = .....
# datadir = .....
# port = .....
# server_id = .....
# socket = .....

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# provide connection string for management server host (default port: 1186)
[ndbd]
connect-string=nodeid=b,192.168.33.50:14500

# provide connection string for management server host (default port: 1186)
[ndb_mgm]
connect-string=nodeid=c,192.168.33.50:14500,192.168.33.51:41500

# provide location of cluster configuration file
[ndb_mgmd]
config-file=/etc/config.ini
config-dir=/etc/mysql-cluster-data
